/*
	general
*/

body {
	padding: 16px;
}

footer {
	background-color: #EBEBEB;
	padding: 8px;
	min-height: 80px;
	width: 100%;
	margin-top: 16px;
	text-align: left;
	.info-columns {
		&>div
		{
			margin-bottom:8px;
		}
	}
	.social-media-links{
		a{
			 color:#666;
			 display:block;
			 text-decoration:none;
			 margin-bottom:8px;
			 i{
				  min-width:24px;
			  }
		 }
	}
	.copyright-notice{
		font-size:0.9em;
		margin-bottom:0px;
	}

	strong{
		color:#666;
		margin-bottom:16px;
		display:block;
	}
}

header{
	.logo1
	{
		height: 60px;
	}
	.logo2 {
		height: 60px;
		height: 80px;
		margin: -24px;
		margin-left: 0px;
		display:none !important;
	}

	.navbar{
		background-color:#FFF !important;
		border-bottom:1px dashed #CCC;
	}
}


/*
	specials
*/

.font-italic{
	font-style: italic;
}
.font-small {
	font-size: 0.9em;
}


/*
	page section
*/
main {
	&:before {
		content: "page-instance, id=\"" attr(id) "\"";
		margin-bottom: 8px;
		font-size: 14pt;
		color: #333;
		display: block;
		background-color: #EBEBEB;
		padding: 8px;
	}
	margin-top:16px;
	padding:16px;
	border:1px solid #CCC;
	border-radius:4px;

	& + main{
		margin-top: 24px;
	}
}

.page--team-member-details{
	img
	{
		margin-bottom:8px;
		max-width:200px;
	}
}
.page--team-member-details,
.page--team-members {
	a {
		text-decoration: none;
		color: inherit;
	}

	.person-card {
		img {
			max-width: 80%;
			max-width: 160px;
			margin-bottom: 8px;
			border: 1px solid CCC;
			border-radius: 4px;
		}

		h2 {
			font-size: 1.3em;
		}

		h3 {
			font-style: bold;
			font-size: 1.1em;
		}
	}
}

.page--team-members p{
	font-style:italic;
}

/*
	return to main page styling
*/
a.link-to-main-page {
	margin-bottom: 16px;
	display: block;
}