/*
	general
*/

body {
	padding: 16px;
}


/*
	page section
*/

main {
	&:before {
		content: "page-instance";
		margin-bottom: 8px;
		font-size: 14pt;
		color: #333;
		display: block;
		background-color: #EBEBEB;
		padding: 8px;
	}
	margin-top:8px;
	padding:16px;
	border:1px solid #CCC;
	border-radius:4px;

	& + main{
		margin-top: 24px;
	}
}

.page--team-members {
	a {
		text-decoration: none;
		color: inherit;
	}

	.person-card {
		img {
			max-width: 80%;
			max-width: 160px;
			margin-bottom: 8px;
			border: 1px solid CCC;
			border-radius: 4px;
		}

		h2 {
			font-size: 1.3em;
		}

		h3 {
			font-style: bold;
			font-size: 1.1em;
		}

		p {
			font-style: italic;
		}
	}
}


/*
	return to main page styling
*/
a.link-to-main-page {
	margin-bottom:16px;
	display:block;
}